/* *{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
} */
 html, body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}
.repo-link{
    text-decoration: none;
}
#dashboard{
    display: flex;
    width: 1080px;
    max-width: 1200px;  /* optional */
    margin: auto;
  justify-content: space-between;
}
html, body {
    background-color: black !important;
    color: white !important;
}
#search{
    margin-bottom: 6px;
}
.repoName{
    background-color: white;
    text-decoration: none !important;
}
.repoIcon{
    position: sticky;
    right: 80%;
}
.sug {
  height: 350px;        
  overflow-y: auto;     
  border: 1px solid #ddd;  
  padding: 10px;     
  border-radius: 8px;
  padding-top: 15px;  
  position: relative;      
}


.sugrepo {
  margin-bottom: 10px; 
  padding: 8px;
  background: #f5f5f5;  
  border-radius: 5px;
  color: blue;
}
.sug-search {
  position: sticky;
  top: 0;             
  background: #0d1117; 
  padding-top: 5px;
  z-index: 10;
}

.sug-search input {
  width: 100%;
  padding: 7px 10px;
  border-radius: 6px;
  border: 1px solid #30363d;
  background: #161b22;
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
  outline: none;
  /* position: sticky; */
}

.sug-search input:focus {
  border-color: #58a6ff;
  box-shadow: 0 0 0 2px rgba(56, 139, 253, 0.3);
}

